<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="icon" href="/images/comet.png" type="image/icon type">
    {{>main}}
    <title>{{code}}</title>
</head>
<body>
    <script>
        var imgUrl = "{{url}}";
        var code = "{{code}}";
    </script>
    <div class="global">
        <div class="textContainer">
            <h1><i class="fas fa-meteor"></i>Comet</h1>
        </div>
        <div class="wrapper">
            <div class="mainContainer">
                <h1>Your download should start any second if you see this...</h1>
                <br><br>
                <a title="Home" href="/"><i class="fas fa-meteor"></i></a>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/85404227e2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/crater.js"></script>
</body>
</html>