<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>main}}
    <title>{{code}}</title>
</head>
<body>
    <div class="global">
        <div class="textContainer">
            <h1><i class="fas fa-meteor"></i>Comet</h1>
        </div>
        <div class="wrapper">
            <div class="errorContainer">
                <h1>Sorry, it looks like there is no data storage with the {{code}} code</h1>
                <h3>If you're sure you have the code right and the 5 minutes timer did not expire, please describe your issue <a
                        href="http://marin-dedic-personal-website.herokuapp.com/contact">here</a></h3>
                <a href="/">Home</a>
            </div>
        
        </div>
    </div>

    <script src="https://kit.fontawesome.com/85404227e2.js" crossorigin="anonymous"></script>

</body>
</html>