<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="icon" href="/images/comet.png" type="image/icon type">
    {{>main}}
    <title>UpComet</title>
</head>
<body>
    <div class="wrapper">
        <div class="mainContainer">
            <div class="textContainer">
                <h1><i class="fas fa-meteor"></i>upComet</h1>
                <div class="guideContainer">
                    <div class="up">
                        <p><button id="uploadButton">Upload Files</button></p>
                        <input style="display: none;" id="uploadFile" type="file" multiple="multiple">
                    </div>
                    
                    <div class="center">
                        <p>Or</p>
                    </div>
                    <div class="bottom">
                        <p>Type the given code down below to get files</p>
                    </div>
                    
                </div>

            </div>
            <div class="codeSection">
                <input class="digitInput" id="first" type="text" maxlength="1">
                <input class="digitInput" id="second" type="text" maxlength="1">
                <input class="digitInput" type="text" maxlength="1">
                <input class="digitInput" type="text" maxlength="1">
                <input class="digitInput" type="text" maxlength="1">
                <input class="digitInput" type="text" maxlength="1">
                {{!-- <input class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Code"
                    type="text" name="" id="codeInput" autocomplete="off" maxlength="6">
                <button class="btn btn-outline-primary" id="joinButton" onclick="join()">GO</button> --}}
            </div>
            <div class="informationContainer">
                <p id="timerP"></p>
                <p id="info"></p>
                <img id="loading" src="https://icon-library.com/images/loading-icon-transparent-background/loading-icon-transparent-background-12.jpg" alt="">
                
            </div>
        </div>

    </div>
    <script src="https://kit.fontawesome.com/85404227e2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/home.js"></script>
</body>
</html>